; 0 - 5
MAP=4

; MyDisasterResponderWithoutExecutors | MyDisasterResponderWithSingleExecutor | MyDisasterResponderWithMultipleExecutors
RESPONDER_CLASS=solution.MyDisasterResponderWithoutExecutors

; DIJKSTRA | ALT | FLOYD
PATHFINDER=FLOYD

; Number of landmarks used for ALT path finding algorithm
ALT_LANDMARKS=8

DURATION=200000
STARTUP_PERIOD=500000
VEHICLE_SPEED=0.2
STDOUT_MESSAGES=true
NUM_RESCUES=2
ROAD_DAMAGE=0
LOCATION_DAMAGE=0
RESCUE_DURATION=0
